/* Body */
body{ 
   margin: 0px;
   padding: 0px;
   font-family: 'Merriweather Sans',sans-serif;;
}

/* Header */
.header{
    height: auto;
    width: 100%;
    background: linear-gradient(to right,#2E51A2,#1B7AC2);
    padding: 100px;  
    margin: 0px;
}



/* Nav-Bar */
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}

.nav-link{
    margin: 30px 20px 20px 20px;  
}

#navfav{
    margin: 10px;
}


/* Right-Left-common */
.left,.right{
    padding: 37px 50px;
    margin: 10px;
    color: white;  
}

/* Right-section */
h1{
    font-size: 4rem;
   margin-bottom: 0px;
}
h3{
    margin-top: 0px;
}
p{
    margin: 20px;
}
#learn-btn, #get-start-btn{
    margin:  2rem;
}

/* dividing-v-section */
.vl {
    border-left: solid white;
    height: auto;
    border-inline-start-width:thin;
   padding: 0px;
  }

  /* left-section */
  #inputName{
    border-color: white; 
  }
  .success{
      color: rgb(107, 246, 107);
      font-weight: bold;
  }
  .fail{
      color:red;
      font-weight: bold;
  }
  .table{
      overflow: none;
      color: white;
  }

.col-12{
    padding: 0px;
}
  /* patreon-section */
  .patreon{
      background-color: tomato;
      text-align: center;
      padding: 20px;
  }

  /* open-source-section */
  #open-source{
    padding: 100px 0px;
    text-align: center;
    align-items: center;
    background-color: white;
    justify-content: center;
  }
  h2{
    font-size: 48px;    
  }


  /* Git-Section */
  #github{
      padding: 100px 0px;
      background: linear-gradient(to right,#2E51A2,#1B7AC2);
      align-items: center;
      text-align: center;
      justify-content: center;
  }
  .git{
      color: white;
  }

  /* Footer */
  footer{
      text-align: center;
  }
  

  
 
 
  
